
@import 'variables.scss';
// body, html{
//     background: $color-primary;
// }


// body {
//    overflow-x: hidden;
// }

// header {
//     position: sticky;
//     grid-area: header;
    
// }
.container{
    display: flex;
width: 100%;
 position: relative;
//     right: 0;
}
#pricelistNav-select{
    display: none;
}
#pricelistNav{
    position: fixed;
    width: 30%;
    // height: 100vh;
    background-color: $color-darkblue;
    color: $color-primary;
    min-height: 100vh; 
}
#pricelist {
    position: absolute;
    top: 3rem;
    right: 0;
   width: 70%;
   background-color: $color-primary;
   display: flex;
   flex-direction: column;
   align-items: center;
    // height: 100px;
}




footer {
    grid-area: footer;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
/* aside{
    width: 25%;
    height: auto;
    min-height: 100vh;
    background-color: #06141b;
} */

.categotyList{
    // height: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: start;
    font-size: calc(1rem - 3px);
    margin: 3rem  0 3rem 0;
    padding: 1.5rem;
    //  min-height: 100vh; 
}
.category{
    color: white;
    
}

.category:hover{
    // transform: scale(1.1);
    font-weight: 600;
}


table {
    width:80%;
    margin: 2rem 1rem;
    color: #323036;
    background-color: $color-primary;
    border-collapse: collapse;
    border: 1px solid #eee;
    border-bottom: 2px solid $color-darkblue-lighter;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
                0px 10px 20px rgba(0,0,0,0.05),
                0px 20px 20px rgba(0,0,0,0.05),
                0px 30px 20px rgba(0,0,0,0.05);
                margin-bottom: 2rem;
            
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background: $color-darkblue-lighter;
    color: #fff;
    text-transform: uppercase;
    font-weight: $section-subtitle-weight;
    /* &.last {
      border-right: none;
    } */
}
tr:hover{
    background: #f4f4f4;
    color: #020202;
}
tr{
    margin: 0.5rem;
    font-weight: $primary-weight;
}
.column-category-lp{
    width: 10%;
    text-align: center;
}
.column-category-name{
    width: 70%;

}
.column-category-price{
    width: 10%;
    text-align: center;

}
.column-category-unit{
    width: 10%;
    text-align: center;
}


@media (max-width: 1100px) {
    
    .categotyList{
      
        font-size: calc(1rem - 1px);
      
    }

}
@media (max-width: 960px) {
    
    .container{
        flex-direction: column;
        top: 3rem;
        background-color: $color-primary;
        padding: 2rem;
        #pricelistNav-select{
            
            position: relative;
            display: flex;
            justify-content: center;
            
            select{
                padding: 1rem;
                border-radius: 4rem;
                font-family: $font;
               
            }
        }
        #pricelistNav{    
            display: none;
        }
        #pricelist{
            position: static;
            width: 100%;
        }
    }

}

@media (max-width: 960px) {
    
    .container{
      
        #pricelistNav-select{
            
           
            select{
                width: 80%;
               
            }
        }
        #pricelistNav{ 
            display: none;
        }
        #pricelist{
            position: static;
            width: 100%;
            font-size: 1rem;
            table{
                width: 90%;
            }
        }
    }

}