
@import 'variables.scss';
@import 'animations';
@import 'pricelist';
// @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: $font-size;
    background-color: $color-primary-second;
    font-family: $font;
    color: $color-primary;
}

section {
    width: 100%;
    margin: 0 auto;
}
.with-padding{
    width: calc(100% - 8rem);
    padding: 0 4rem 0 4rem;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: $color-darkblue-half-opacity;
    backdrop-filter: $blur;
  
  
    nav {
      padding: 1rem 4rem;
      display: flex;
     justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $color-primary-low-opacity;
      #menuBar-icon {
        img {
          width: 2rem;
          display: none;
        }
      }
      .logo-container{
        width: 30%;
        text-align: start;
        img{
          width: 50%;
          height: auto;
        }
      }
      ul {
        all: unset;
        width: 50%;
        align-items: center;
        list-style: none;

         display: flex;
         justify-content: space-between;

          li {
            color: $color-primary;
            font-weight: $primary-weight;
            cursor: pointer;
            transition: 0.5s;
            &:hover {
              font-weight: $elem-big-weight;
            }
            &.active {
              font-weight: $elem-big-weight;
            }
          
          }
      }
    }
  }
  main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#home {
    max-height: 745px;
    height: 100vh;
    padding-bottom: 1rem;
    .home-banner {
      position: relative;
      overflow: hidden;
      height: 100%;
      max-height: 800px;
      .banner-image {
        position: relative;
        height: 85%;
        overflow: hidden;
        img {
          position: absolute;
          width: 100%;
          height:auto;
          top: -12%;
          filter: $brightness;
        }
        h1 {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: calc(3rem - 4px);
          font-weight: $page-title-weight;
          text-transform: uppercase;
          backdrop-filter: $blur;
        }
      }
    }
    .home-content {
      position: absolute;
      bottom: 8%;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      width: calc(100% - 4rem);
      max-width: 1200px;
      .home-descr {
        p {
          margin: 0;
          text-transform: uppercase;
          font-size: 2rem;
          font-weight: $primary-weight;
          opacity: 0;
          &.in-view{
            animation: jumpLeft 1.5s ease-out forwards; 
          }
        }
      }
      .home-action {
        button {
          padding: 1rem 2rem;
          border: none;
          border-radius: 25px;
          background-color: $color-primary;
          color: $color-primary-second;
          text-transform: uppercase;
          font-weight: $elem-big-weight;
          opacity: 0;
          &.in-view{
            animation: fade 2s ease-out forwards; 
          }
        }
      }
    }
  }
  

  .divider {
    position: relative;
    margin-left: 0;
    margin-right: 0;
    width: 30%;
    height: 1px;
    background: none;
  
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      background: $color-divider; 
    }
  }
  


  #about-us {
    padding-top: 1rem;
    height: 100vh;
    max-height: 745px;
    background: linear-gradient(to bottom, $color-primary-second, $color-darkblue);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 1fr 0.7fr;

    .about-us-image-block {
      position: relative;
      grid-column: 1 / 6;
      grid-row: 1 / 3;
      height: 90%;
      overflow: hidden;
      img {
        position: absolute;
        width: 100%;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .about-us-text-block {
      grid-column: 7 / 13;
      grid-row: 1 / 3;
      height: 90%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    
      .slogan {
        font-size: calc(2rem + 4px);
        color: transparent;
        font-weight: $elem-big-weight;
        background: linear-gradient(90deg, #565454, #fff, #4f4e4e);  
        background-size: 400% 400%; 
        background-clip: text;
        -webkit-background-clip: text;
        text-transform: uppercase;
        margin: 0 0 1rem 0;
        opacity: 0;
        &.in-view{
          animation: metalEffect 1s ease-out forwards; 
        }
      }
  
      .about-us-info {
        .title {
          font-weight: $section-title-weight;
          font-size: calc(2rem - 6px);
          margin: 0;
        }
  
        .text {
          font-weight: $primary-weight;
          font-size: 1rem;
          margin-bottom: 1rem;
        }
  
        .about-us-action {
          border-radius: 30px;
          color: $color-darkblue;
          font-size: calc(1rem - 2px);
          font-weight: $elem-big-weight;
          padding: 1rem;
          width: 30%;
          transition: width 1s ease;
          &:hover{
            width: 100%;
            transition: 1s;
          }
        }
      }
    }
  
    .about-us-rewards {
      display: flex;
      justify-content: space-between;
      width: 90%;
      padding: 0 5%;
  
      .rewardItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
  
        .title {
          font-size: calc(3rem - 4px);
          font-weight: $elem-big-weight;
          img {
            width: 3rem;
            height: 3rem;
          }
        }
        p {
          font-size: calc(1rem - 4px);
          font-weight: $small-text-weigth;
        }
      }
    }
  
    .about-us-offer {
      grid-column: 1 / 13;
      grid-row: 3 / 4;
      display: flex;
      flex-direction: column;
      align-items: center;
  
      h3 {
        font-size: calc(1rem + 6px);
        font-weight: $section-subtitle-weight;
        margin: 1rem 0 0.5rem 0;
      }
  
      ul {
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        list-style-type: none;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        padding: 0;
        margin: 0;
  
        li {
          position: relative;
          width: 28%;
          height: 100%;
          text-align: center;
          font-size: calc(1rem - 2px);
          font-weight: $small-text-weigth;
          transform: translateY(150%);
          opacity: 0;
          &.in-view{
              animation: jumpBottom 1s forwards;
            }
            p {
            margin-bottom: 1rem;
          }
          .divider {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 1px;
            background: none;
          }
        }
  
        li[data-position="middle-bottom"] {
          opacity:1;
          position: absolute;
          top: 60%;
          left: 50%;
          animation: none;
          transform: translate(-50%, -50%); 
          border: none;
          .divider {
            display: none;
          }
        }
      }
    }
  }
  
#services {
    height: 100vh;
    max-height: 745px;
    background: linear-gradient(to bottom, $color-darkblue, $color-darkblue-lighter);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    h2{
        font-size: calc(2rem - 6px);
        margin: 0;
        font-weight: $section-title-weight;
    }
    #services-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style-type: none;
        gap: 1rem;
        padding: 0;
        margin: 0;
        .service-block{
            opacity: 0;
            width: 20%;
            box-sizing: border-box;
            height: 40%;
            background-color: $color-primary;
            border-radius: 30px;
            box-shadow: $shadows;
            padding: 1rem 1rem 1rem 1rem;
            display: grid;
            grid-template-rows: 30% 70%;
            grid-column: repeat(2,50%);
            gap: 0.5rem;
            align-items: start;              
            color: $color-primary-second; 
            transition: 0.7s;     
             &:hover{
              transform: scale(1.05);
              transition: 0.7s;
              } 
              &.in-view{
                animation: fade 2s ease-in forwards; 
              }
            .service-name{
                grid-column: 2/3;
                grid-row: 1/2;
                font-weight: $elem-big-weight;
                font-size: calc(1rem);
            }
            .service-icon{
                grid-column: 1/2;
                grid-row: 1/2;
                width: 2.5rem;
                height: 2.5rem;
            }
            .service-description{
                grid-column: 1/3;
                grid-row: 2/3;
                text-align:start;
                font-weight: $primary-weight;
                font-size: calc(1rem - 2px );
            }
        }
    }
    .services-action{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      button{
        background: $color-primary;
        height: 3rem;
        color: $color-primary-second;
        padding: 0.5rem;
        border-radius: 30px;
        width: 20%;
        margin-bottom: 1rem;
        font-size: 1rem;
        font-weight: $elem-big-weight;
        &:hover{
          transform: scale(1.1);
          transition: 0.7s;
          background-color: $color-blue-light;
          color: $color-primary;
         } 
      }
    }
}

footer {
    #contact {
      position: relative;
      height: 100vh;
      max-height: 745px;
      background: linear-gradient(to bottom, $color-darkblue, $color-darkblue-lighter);
      display: flex;
      flex-direction: column;
      align-content: space-between;
      .contact-header {
        position: relative;
        height: 20%;
        color: $color-primary;
        padding: 1rem 7%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .title {
          font-weight: $section-title-weight;
          font-size: calc(2rem - 6px);
          margin: 1rem 0;
        }
        .content {
          display: flex;
          align-items: center;
          width: 60%;
          gap: 2rem;
          p {
            font-size: calc(1rem + 2px);
          }
          .phone-block {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            img {
              background-color: $color-primary;
              border-radius: 1rem;
              padding: 0.5rem;
              height: 1rem;
              width: 1rem;
            }
            p {
              font-weight: $primary-weight;
              font-size: calc(1rem - 4px);
              color: $color-primary;
            }
          }
        }
      }
  
      .contact-descr {
        height: 65%;
        background-color: #EBF7FF;
        padding: 0 2rem 0 2rem;
        .contact-step-list {
          width: 40%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          li {
            color: $color-primary-second;
            padding-left: 2rem;
            position: relative;
            line-height: calc(1rem + 4px);
            margin-bottom: 1rem;
            &:nth-child(odd)::before {
              border-color: $color-blue-light;
            }
            &:nth-child(even)::before {
              border-color: $color-darkblue;
            }
            strong {
              color: $color-darkblue;
              font-size: 1rem;
            }
            p {
              margin-top: 0.5rem;
              font-size: calc(1rem - 2px);
            }
            &::before {
              content: '';
              display: block;
              height: 42px;
              width: 42px;
              border-radius: 50%;
              border: 2px solid #dddddd;
              position: absolute;
              left: -32px;
              top: -10px;
            }
          }
        }
      }
  
      #contact-form {
        position: absolute;
        right: 7%;
        top: 10%;
        width: 20%;
        height: 70%;
        max-height: 520px;
        background-color: $color-primary;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;
        border-radius: 30px;
        box-shadow: -2px -2px 10px rgba(17, 33, 45, 0.2), 4px 4px 10px rgba(17, 33, 45, 0.25);
        .form-header {
          height: auto;
          font-weight: 600;
          color: $color-darkblue;
          border-bottom: 1px solid $color-darkblue;
          margin-bottom: 1rem;
              p{
                  text-align: center;
              }
        }
        fieldset {
          width: 100%;
          height: 85%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 0;
          border: none;
          .client-data {
            display: flex;
            gap: 0.5rem;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 100%;
            height: 30%;
            input {
              width: 40%;
              height: 20%;
              border: none;
              background: $gradient-border;
              border: 1px solid transparent;
              border-radius: 16px;
              padding: 0.5rem;
            }
          }
          textarea {
            height: 50%;
            border: none;
            background: $gradient-border;
            border: 1px solid transparent;
            border-radius: 1rem;
            padding: 0.5rem;
            overflow: scroll;
            margin: 0;
            &:focus {
              outline: none;
              border: 2px solid transparent;
            }
          }
          button {
            height: 10%;
            width: 100%;
            background-color: $color-darkblue-lighter;
            border: none;
            border-radius: 1rem;
            color: $color-primary;
            font-size: calc(1rem + 2px);
          }
        }
      }
    }
  .modal{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
   background: $color-primary-low-opacity;
   z-index: 1200;
    .modal-content{
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $color-darkblue;
    color: $color-primary;
    box-shadow: $shadows-three-layers;
    }
  }
  }

  #works {
    display: flex;
    flex-direction: column;
    height: 90vh;
    max-height: 630px;
    background-color: $color-primary;
    .works-header {
      padding-top: 1em;
      padding-left: 7%;
      height: 10%;
      font-size: calc(1rem + 6px);
      h2 {
        font-size: calc(2rem - 6px);
        color: $color-darkblue;
      }
    }
    .content {
      height: 80%;
      display: flex;
      justify-content: space-between;
      gap: 1rem;
      align-items: center;
      position: relative;
      overflow: hidden;
      .work-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 45%;
        height: 100%;
        position: relative;
        left: 7%;
        z-index: 1;
        gap: 1em;
        .work-slide-descr {
          height: 40%;
          padding: 1em;
          font-size: 1em;
          font-weight: $primary-weight;
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          background: linear-gradient(to right, $color-darkblue, $color-darkblue-less-opacity);
          backdrop-filter: $blur;
          box-shadow: $shadows-three-layers;
          h2 {
            font-size: calc(1rem + 2px);
            margin: 0 0 0.5rem 0;
          }
          p {
            margin: 0;
          }
        }
      }
      .works-slider {
        position: relative;
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        gap: 1rem;
        margin-right: 1rem;
        .works-slider-inner {
          height: 90%;
          position: absolute;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          overflow: hidden;
        }
        .works-slide {
          position: relative;
          width: 50%; 
          padding-right: 2rem;
          img {
            width: 100%;
            height: 100%;
            filter: $brightness;
          }
        }
        .slider-nav {
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 10%;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 1em;
          .block {
            height: 0.5em;
            width: 4em;
            background-color: $color-darkblue-half-opacity;
            &:hover {
              transform: scale(1.2);
              transition: 0.6s;
              background-color: $color-darkblue-less-opacity;
            }
            &:active {
              transform: scale(1.2);
              transition: 0.6s;
            }
          }
          .block.active {
            background-color: $color-darkblue-less-opacity;
          }
        }
      }
      .works-slider-actions {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2em;
        button {
          all: unset;
          img {
            height: 2.5em;
            width: 2.5em;
            &:hover {
              transform: scale(1.2);
              transition: 1s;
            }
            &:active{
              transform: scale(1.2);
              transition: 1s;
            }
          }
        }
      }
      .works-slider-counter {
        color: $color-darkblue;
        font-size: 1.5em;
        font-weight: 200;
      }
    }
  }

  @import 'media';